<ion-content class="ion-padding">
<h1 text-center>
<ion-icon name ="done-all" color=primary class="icon-7em"></ion-icon>
</h1>

<form [formGroup] = "authForm" (submit) ="onSubmit()">
<ion-item>
  <ion-icon name="email" color="primary" slot="start"></ion-icon>
  <ion-input type="email" placeholder="Email" formControlName="email"
  inputmode="email" autofocus ></ion-input>
  <ion-note slot="end" color="danger" *ngIf="email.dirty && email.hasError ('requerid')"
  >Required</ion-note>
  <ion-note slot="end" color="danger" *ngIf="email.dirty && email.hasError('email')"
  >Email Inválido</ion-note>
  </ion-item>


   <ion-item>
    <ion-icon name="lock" color="primary" slot="start"></ion-icon>
    <ion-input type="password" placeholder="Password"
    formControlName="password"></ion-input>

     <ion-note slot="end" color="danger" *ngIf="password.dirty && password.hasError ('requerid')"
  >Required</ion-note>
  <ion-note slot="end" color="danger" *ngIf="password.dirty && password.hasError('minLength')"
  >Mínimo de 6 Caracteres</ion-note>
  </ion-item>

  <ion-button expand="block" type = "submit"
  [disabled]= authForm.invalid>Login</ion-button>
</form>

  <ion-button expand="block">Login</ion-button>
  <ion-button expand="block" fill="clear">Crie uma Conta</ion-button>
  <ion-button expand="block">
    <ion-icon name="logo-facebook" slot="start"></ion-icon>
    Login pelo Facebook
  </ion-button>
</ion-content>


